::-webkit-scrollbar {
  display: none;
}

* {
  justify-content: center;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: hsla(147, 0%, 0%, 1);
  background-image: radial-gradient(
      at 95% 93%,
      hsla(0, 1%, 2%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 69% 47%, hsla(240, 100%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 16% 100%, hsla(359, 100%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 63% 21%, hsla(359, 100%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 14% 24%, hsla(240, 100%, 50%, 1) 0px, transparent 50%);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}
@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 70%;
  }
  100% {
    background-position: 0% 20%;
  }
}

.tray {
  height: fit-content;
  margin: 2rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
}

.upper-half {
  display: flex;
  flex-direction: row;
}

.upper,
.side {
  display: flex;
  flex-direction: row;
}

.skills {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  padding: 2rem;
}

.expertise {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.exp {
  display: flex;
  border: 0.5px solid rgba(255, 255, 255, 0.301);
  height: 3rem;
  width: 19rem;
  border-radius: 2rem;
  padding: fit-content;
  padding: 1rem;
  font-size: 1.5rem;
  transition: all 300ms ease-in-out;
}

.exp-lvl {
  display: none;
}

.exp:hover {
  cursor: pointer;
  .expertise {
    display: none;
  }
  .exp-lvl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  background: rgba(255, 255, 255, 0.5);
}

.skills-heading {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 400;
}

.image {
  height: fit-content;
  width: 17.5rem;
  border: none;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  padding-top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.article {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  padding: 1.5rem;
  margin-right: 1rem;
  transition: all 300ms ease-in-out;
}

.article:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.8);
}

.article-container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-bottom: none;
}

.personal-exp {
  display: flex;
  flex-direction: column;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  padding: 1.5rem;
  padding-bottom: 0;
  padding-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.heading {
  font-size: 3rem;
  font-weight: 500;
  padding: 1.5rem;
}

.about-me {
  text-align: justify;
  margin-bottom: 2rem;
  font-size: larger;
  font-weight: 500;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 26.5rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  padding: 1.5rem;
  height: 6.5rem;
  margin-bottom: 1rem;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  height: 11rem;
  width: 26.5rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  padding: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.proj-detail {
  padding-top: 0.5rem;
  text-align: center;
  font-size: large;
  font-weight: 400;
}

.about-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.about-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#button {
  height: 3rem;
  width: 13rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  border: none;
  margin: 0;
  transition: all 300ms ease-in-out;
}

#button:hover {
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}

/* MEDIA-QUERIES */
@media screen and (min-width: 1921px) {
  * {
    display: none;
  }
}

@media screen and (max-width: 1920px) {
  .tray {
    height: 85vh;
    width: 92vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exp {
    width: 30rem;
  }

  .skills {
    width: 35rem;
  }

  .upper {
    transform: scale(0.89);
  }
}

@media screen and (max-width: 1400px) {
  .background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tray {
    height: 86vh;
    width: 92vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upper {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .tray {
    height: 85vh;
    width: 85vw;
  }

  .skills {
    height: 43rem;
    width: 15rem;
    margin-top: 26rem;
    margin-left: -20rem;
    gap: 1rem;
    .exp {
      width: fit-content;
    }
  }

  .personal-exp {
    display: none;
  }

  .side {
    display: flex;
    flex-direction: row;
  }

  .project {
    margin-top: 0;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article-container {
    transform: scale(0.8);
    width: fit-content;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -7rem;
    margin-bottom: -7rem;
    margin-left: -4rem;
  }

  .profile {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  * {
    margin: 0;
  }

  .tray {
    width: 20rem;
  }

  .project,
  .personal-exp {
    display: none;
  }

  .upper-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: fit-content;
    width: 29rem;
    margin-top: 50rem;
    margin-left: -33rem;
    gap: 1rem;
    .skills-heading {
      display: none;
    }

    .exp {
      width: fit-content;
    }
  }

  .profile {
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .about {
    padding-top: 0;
    padding-bottom: 1rem;
    height: 22rem;
    width: 30rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .tray {
    width: 18rem;
  }
}

@media screen and (max-width: 319px) {
  * {
    display: none;
  }
}
